input {
	margin-bottom: 0 !important;
}

.form-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: calc(var(--spacing));

	label {
		flex: 1 1 auto;
	}

	.input-group {
		flex: 0 0 auto;
	}

	> * + * {
		margin-left: var(--spacing);
	}

	button,
	.btn {
		flex: 0 0 48px;
	}
}

fieldset legend {
	font-weight: bold;
	border-bottom: 2px solid var(--muted-border-color);
	display: block;
	margin-bottom: var(--spacing);
	width: 100%;
	font-size: 1.2rem;
	padding: 0 0 calc(var(--spacing) / 2);
}

.input-group {
	> * {
		display: inline-block;
	}

	input {
		margin: 0;
		width: auto;

		&:not(:first-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:last-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	> :not(input) {
		border: 1px solid var(--form-element-border-color);
		border-radius: var(--border-radius);
		padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);

		&:first-child {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-child {
			border-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

input[type='number'] {
	text-align: right;
}
