:root {
	--border-width-default: 3px;
	--transition-default: transform 0.2s ease;

	--color-red: #e53935;
	--color-pink: #d81b60;
	--color-purple: #8e24aa;
	--color-deep-purple: #5e35b1;
	--color-indigo: #3949ab;
	--color-blue: #1e88e5;
	--color-light-blue: #039be5;
	--color-cyan: #00acc1;
	--color-teal: #00897b;
	--color-green: #43a047;
	--color-light-green: #7cb342;
	--color-lime: #c0ca33;
	--color-yellow: #fdd835;
	--color-amber: #ffb300;
	--color-orange: #fb8c00;
	--color-deep-orange: #f4511e;
	--color-grey: #757575;
	--color-blue-grey: #546e7a;
	--color-dark-blue: #141e26;
}
